h1 {
    color: white;
}
@font-face {
	font-family: 'MagicMarsh';
	src: url('https://tylerhhhh.github.io/saving_star_kingdom/fonts/marsh/JimNightshade-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
