h1 {
    color: white;
}
@font-face {
	font-family: 'RushingRapids';
	src: url('https://tylerhhhh.github.io/saving_star_kingdom/fonts/rapids/Mermaid-Swash-Caps.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
